/* Animations */

/* Animations Delay */
.delay-200  { animation-delay: 200ms !important; }
.delay-400  { animation-delay: 400ms !important; }
.delay-600  { animation-delay: 600ms !important; }
.delay-800  { animation-delay: 800ms !important; }
.delay-1000 { animation-delay: 1000ms !important; }
.delay-1200 { animation-delay: 1200ms !important; }
.delay-1400 { animation-delay: 1400ms !important; }
.delay-1600 { animation-delay: 1600ms !important; }
.delay-1800 { animation-delay: 1800ms !important; }
.delay-2000 { animation-delay: 2000ms !important; }

/* Animation depuis la gauche */
.fade-left {
  opacity: 0;
  transform: translateX(-100%);
}
.in-view.fade-left {
  animation: fadeLeft 1s forwards;
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation depuis la droite */
.fade-right {
  opacity: 0;
  transform: translateX(100%);
}
.in-view.fade-right {
  animation: fadeRight 1s forwards;
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation depuis le haut */
.fade-top {
  opacity: 0;
  transform: translateY(-100%);
}
.in-view.fade-top {
  animation: fadeTop 1s forwards;
}
@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation depuis le bas */
.fade-bottom {
  opacity: 0;
  transform: translateY(100%);
}
.in-view.fade-bottom {
  animation: fadeBottom 1s forwards;
}
@keyframes fadeBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation depuis le coin supérieur gauche */
.fade-top-left {
  opacity: 0;
  transform: translate(-100%, -100%);
}
.in-view.fade-top-left {
  animation: fadeTopLeft 1s forwards;
}
@keyframes fadeTopLeft {
  from {
    opacity: 0;
    transform: translate(-100%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Animation depuis le coin supérieur droit */
.fade-top-right {
  opacity: 0;
  transform: translate(100%, -100%);
}
.in-view.fade-top-right {
  animation: fadeTopRight 1s forwards;
}
@keyframes fadeTopRight {
  from {
    opacity: 0;
    transform: translate(100%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Animation depuis le coin inférieur gauche */
.fade-bottom-left {
  opacity: 0;
  transform: translate(-100%, 100%);
}
.in-view.fade-bottom-left {
  animation: fadeBottomLeft 1s forwards;
}
@keyframes fadeBottomLeft {
  from {
    opacity: 0;
    transform: translate(-100%, 100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Animation depuis le coin inférieur droit */
.fade-bottom-right {
  opacity: 0;
  transform: translate(100%, 100%);
}
.in-view.fade-bottom-right {
  animation: fadeBottomRight 1s forwards;
}
@keyframes fadeBottomRight {
  from {
    opacity: 0;
    transform: translate(100%, 100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Le conteneur sert de "portail" */
.appearance-container {
  overflow: hidden;
}

.bounce {
  animation: bounce .5s ease alternate infinite;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(3px);
  }
}