/* Footer général */
.footer {
    background-color: var(--color-grey-background);
    color: var(--color-off-white);
    text-align: center;
    padding: 2rem 1rem;
  }
  
  /* Logo */
  .footer__logo img {
    width: 80px;
    margin-bottom: 1rem;
  }
  
  /* Navigation horizontale */
  .footer__nav-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-bottom: 1rem;
  }
  
  /* Réseaux sociaux horizontaux */
  .footer__social-list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    margin-bottom: 1rem;
  }
  
  .footer__social-item a {
    font-size: 1.5rem;
  }