/* Base Header */
.header {
    display: flex;
    background-color: var(--color-grey-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}

.header.hide {
    display: none;
}

.nav__container {
    position: relative;
    max-width: calc(1200px - 40px);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
  
.header__logo a img {
    width: 80px;
} 

.header__nav-list {
    display: flex;
    gap: 2rem;
}

.header__burger {
    display: none;
    background: none;
    border: none;
    flex-direction: column;
    gap: 10px;
}

.header__burger-bar {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--color-off-white);
    transform-origin: right;
}

.header__burger-bar--bottom {
    width: 15px;
    align-self: flex-end;
}

.header__burger.active .header__burger-bar {
    width: 25px;
    /* align-self: flex-start; */
}

.header__burger.active .header__burger-bar--top {
    transform: rotate(-45deg);
}

.header__burger.active .header__burger-bar--bottom {
    transform: rotate(45deg);
}

.moving__header {
    max-width: 1200px;
    width: calc(100% - 40px);
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    padding: 5px 20px;
    background-color: var(--color-grey-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 999;
}

.moving__header.active {
    top: 20px;
}

.moving__header .nav__container .header__logo a img {
    width: 50px;
}

.mobile__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-grey-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.mobile__menu.active {
    top: 0;
}

.mobile__nav-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.mobile__nav-item a {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .header__nav-list,
    .header__cta {
        display: none;
    }

    .header__burger {
        display: flex;
    }
}

