.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
  }

  .slider {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .slider::after {
    content: "";
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: #22222250;
    z-index: 4;
  }

  .item {
    width: 300px;
    height: 200px;
    list-style-type: none;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 320px); }
    &:nth-child(5) { left: calc(50% + 640px); opacity: 0;}
  }
  
  .content {
    width: 400px;
    position: absolute;
    top: 40%;
    left: 3rem;
    transform: translateY(-50%);
    text-shadow: 0 3px 8px rgb(0,0,0);
    opacity: 0;
    display: none;
    z-index: 10;
  
    & .title {
      font-family: 'arial-black';
      text-transform: uppercase;
    }
  
    & .description {
      color: var(--color-off-white);
      margin: 1rem 0 1.5rem;
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .container-links {
    width: 60%;
  }

  .link {
    flex: 1;
    padding: 30px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-background);
  }

  .link:hover {
    background-color: var(--color-primary);
    color: var(--color-off-white);
  }

  .nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    left: 3rem;
    bottom: 3rem;
    /* background-color: white; */
    z-index: 40;
  }

  .icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--color-meta-text);
    color: var(--color-off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .icon:hover {
    background-color: var(--color-off-white);
    color: var(--color-grey-background);
  }

  .split-screen {
    display: flex;
    justify-content: center;
  }

.content-container {
    flex: 1;
    display: flex;
}

.content-container.left {
    justify-content: flex-end;
}

.bg-white {
    background-color: var(--color-off-white);
}

.content-container.left.bg-white {
    border-radius: 0 20px 20px 0;
}

.text-container,
.img-container {
    width: calc(100% - 20px);
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.text-container {
    padding: 100px 40px 100px 20px
}

.img-container {
    padding: 40px 0px 40px 40px;
}

.text-container .title,
.text-container .description {
    color: var(--color-grey-background);
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
  background-image: url(../../assets/images/about/cap.jpg);
}

.img2 {
  background-image: url(../../assets/images/about/bag.jpg);
}


.off-white {
    color: var(--color-off-white) !important;
}
  
.experiences .split-screen .content-container .text-container {
    padding: 100px 20px 100px 40px;
}

.experiences .split-screen .content-container .img-container {
    padding: 40px 40px 40px 0px;
}

.quote-container .container p {
    /* font-size: 1.2rem; */
    font-style: italic;
    color: var(--color-off-white);
    margin: 0;
    text-align: center;
  }

  .quote-container {
    margin:40px 0;
  }

  .quote-container .container {
    flex-direction: column;
  }
  
  /* Pour distinguer l'auteur, si vous le souhaitez */
  .quote-container .container p .author {
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
    font-style: normal; /* Retire l’italique si vous voulez mettre l’auteur en normal */
    color: var(--color-meta-text);
  }

  .language-container {
    margin: 100px 0;
  }

  .text-container,
  .languages {
    flex: 1;
  }

  .language-container .container .text-container {display: flex;}

  .language-container .container .text-container .title,
  .language-container .container .text-container .description {
    color: var(--color-off-white);
  }

  .language-container .container .text-container .description {
    margin-bottom: 15px;
  }

  .language-container .container .text-container .btn {
    padding: 1rem 2rem;
    border-radius: 5px;
  }

  .languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  /* Bloc de chaque anneau de progression */
  .progress-circle {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 8px;
    padding: 20px;
    /* Vous pouvez ajouter d’autres styles ou marges si nécessaire */
  }

  .progress-circle:nth-child(3) {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
  }
  
  /* Le SVG est tourné pour que le "0%" commence en haut */
  .progress-circle svg {
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
  }
  
  /* Le cercle d’arrière-plan */
  .bg {
    fill: none;
    stroke: var(--color-meta-text);
    stroke-width: 10;
  }
  
  /* Le cercle de "progression" : on part d’un offset maximum = anneau vide */
  .progress {
    fill: none;
    stroke: var(--color-primary);       /* Couleur de base */
    stroke-width: 10;
    stroke-dasharray: 314; /* ~ circonférence pour r=50 */
    stroke-dashoffset: 314;
    stroke-linecap: round;
    /* Animation de la propriété dashoffset en 1.5s */
    transition: stroke-dashoffset 1.5s ease-out;
    /* 
      Pas de transition-delay ici, 
      on le gérera via .delay-xxx.in-view .progress plus bas
    */
  }
  
  /* Le label au centre */
  .progress-circle .label {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
  }

  .progress-circle:nth-child(3) .label {
    top: 47%;
  }

  .progress-circle .label p {
    font-size: 1.5rem;
  }

  .progress-circle .label p span {
    font-size: 1rem;
  }

  .progress-circle .language {
    color: var(--color-meta-text);
  }

  /* .delay-200 => démarrage 0.2s après l’ajout de .in-view */
  .delay-200.in-view .progress {
    transition-delay: 0.2s;
  }
  
  /* .delay-800 => démarrage 0.8s après l’ajout de .in-view */
  .delay-600.in-view .progress {
    transition-delay: .6s;
  }
  
  /* .delay-1200 => démarrage 1.2s après l’ajout de .in-view */
  .delay-1000.in-view .progress {
    transition-delay: 1s;
  }

  /* Français 100% */
.circle-fr.in-view .progress {
    stroke-dashoffset: 0;
  }
  
  /* Anglais 80% */
  .circle-en.in-view .progress {
    stroke-dashoffset: 62.8;
  }
  
  /* Espagnol 25% */
  .circle-es.in-view .progress {
    stroke-dashoffset: 235.5;
  }

  @media (max-width: 1024px) {
    .language-container {
        margin: 50px 0;
    }

    .language-container .container .text-container {
        max-width: 1200px;
        padding: 0 0 40px 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .language-container .container .text-container .description {
        text-align: center;
    }
  }


  @media (width > 650px) and (width < 900px) {

    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); opacity: 0;}
    }
  }

  @media (max-width: 768px) {
    .split-screen {
        flex-direction: column;
      }

      .content-container.left,
      .content-container.right {
        justify-content: center;
        align-items: center;
    }

    .content-container.left.bg-white {
        border-radius: 0;
    }

    .text-container,
    .img-container {
        max-width: 100%;
        width: calc(100% - 40px);
    }

    .text-container {
        padding: 100px 40px;
    }

    .img-container {
        padding: 100px 20px 50px;
    }

    .experiences .split-screen .content-container.right  {
        order: -1;
    }

    .experiences .split-screen .content-container.right .text-container {
        padding: 100px 40px 0;
    }

    .experiences .split-screen .content-container.left .img-container {
        padding: 50px 20px 50px;
    }

    .img {
        width: 100%;
        height: 400px;
    }

    
  }
  
  @media (width < 650px) {

    .content {
        width: 80%;
    }
    .item {
      width: 130px;
      height: 130px;
      top: 80%;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 140px); }
      &:nth-child(5) { left: calc(50% + 280px); opacity: 0;}
    }
}

@media (max-width: 525px) {
    .languages {
        grid-template-columns: 1fr;
        grid-template-rows: 3;
    }

    .progress-circle {
        &:nth-child(1) {grid-column: 1/1; grid-row: 1/1;}
        &:nth-child(2) {grid-column: 1/1; grid-row: 2/2;}
        &:nth-child(3) {grid-column: 1/1; grid-row: 3/3;}
    }
}

@media (max-width: 425px) {
    .content {
        left: 10px;
    }

    .text-container {
        padding: 60px 20px;
    }

    .img-container {
        padding: 60px 0px 30px;
    }

    .experiences .split-screen .content-container.right .text-container {
        padding: 60px 40px 30px;
    }

    .experiences .split-screen .content-container.left .img-container {
        padding: 0px 0px 30px;
    }
}