/* Style de la section de contact */
.contact__section {
    height: calc(100vh - 80px);
    width: 100%;
    padding: 40px 20px;
    background-color: var(--color-grey-background);
    color: var(--color-off-white);
  }
  
  /* Conteneur split-screen */
  .contact-split {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    height: 100%;
  }
  
  /* Partie droite : formulaire */
  .contact-form {
    flex: 1;
    /* background-color: #444; Couleur de fond pour contraster avec l'image */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    /* border-radius: 10px; */
  }

  .contact-text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-text__container .title {
    text-align: center;
  }
  

  .contact-text__container .contact__description {
    color: var(--color-meta-text);
    text-align: center;
  }

  /* Style du formulaire */
  .contact-form form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .form-row {
    height: fit-content;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .form-row .form-group {
    flex: 1;
  }
  
  .form-group {
    position: relative;
    /* margin: 10px 0; */
  }
  
  /* Style de l'input et du textarea */
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 14px 10px 10px 10px; /* Un padding supérieur pour laisser de la place au label */
    border: 1px solid var(--color-meta-text);
    background: transparent;
    color: var(--color-off-white);
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s ease;
  }

  .form-group input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--color-meta-text);
  }
  
  /* Changement de bordure au focus */
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: var(--color-primary);
  }
  
  /* Style du label */
  .form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    padding: 0 3px;
    background-color: var(--color-grey-background);
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-off-white);
    transition: all 0.2s ease-out;
    z-index: 99;
  }

  .form-group textarea ~ label {
    top: 20px;
  }
  
  /* Lorsque le champ est focus ou rempli */

  .form-group input:focus ~ label,
  .form-group input:valid ~ label,
  .form-group textarea:focus ~ label,
  .form-group textarea:valid ~ label {
    color: var(--color-primary);
    top: 0;
  }

  .form-group input:focus ~ label,
  .form-group input:valid ~ label {
    left: 0;
  }
  .form-group textarea {
    resize: none;
    height: 28vh;
  }

  .form-row button {
    margin-left: auto;
  }
  
  /* Si besoin, la classe full-width */
  .form-group.full-width {
    width: 100%;
  }

/* Partie gauche : image */
    .contact-image {
        position: relative;
        flex: 1;
        background-image: url(../../assets/images/contact.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
        border-radius: 10px;
    }

    .social__container {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px 30px;
        border-radius: 10px 0 0px 0;
        background-color: var(--color-grey-background);
    }

    .social__container::before, 
    .social__container::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: 7.5px 7.5px var(--color-grey-background);
    }

    .social__container::after {
        top: 0;
        right: 0;
        transform: translateY(-100%);
    }

    .social__container::before {
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
    }

    .social__container a {
        line-height: 1;
    }

    .social__container i {
        font-size: 1.5rem;
    }


    @media (max-width: 1024px) {

        .container {
            flex-direction: row;
        }

        .title {
            font-size: 2.7rem;
        }

        .form-row {
          flex-direction: column;
        }
      }
      

  /* Responsive : en dessous de 768px, passage en colonne */
  @media (max-width: 768px) {
    .contact-split {
      flex-direction: column;
    }

    .title {
        font-size: 2.2rem;
    }

    .contact__section {
        height: fit-content;
        padding: 0;
    }
  }

  @media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
  }
  
  