:root {
    --cards: 4;
    --cardHeight: 80vh;
    --cardTopPadding: 1.5em;
    --cardMargin: 4vw;
}

.hero {
    width: 100vw;
    height: calc(100vh - 80px);
}

.container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
    margin: 0 auto;
}

.hero-image {
    background-image: url(../../assets/images/hero_entreprise.jpg); 
    width: 100%; 
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-image::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22222250;
}

.hero-content {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center; 
    color: var(--color-off-white);
}

.experience__section {
    margin-top: 50px;
    width: 100%;
}

.experience__section .container {border-radius: 20px;}

#cards {
    width: 100%;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}

#card1 {--index: 1;}
#card2 {--index: 2;}
#card3 {--index: 3;}
#card4 {--index: 4;}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--cardTopPadding));
}

.card-body {
    background: var(--color-gradient);
    height: var(--cardHeight);
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

/* Première ligne : entête de l'expérience */
.experience-header {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
  }
  
  .experience-logo {
    margin-right: 20px;
  }

  .img-entreprise {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  
  .experience-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Deuxième ligne : détails de l'expérience */
  .experience-details {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .experience-missions,
  .experience-skills {
    flex: 1;
    min-width: 300px;
  }
  
  /* Titres et séparateur pour chaque colonne */
  .details-title {
    text-transform: uppercase;
  }
  
  .separator {
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    margin-bottom: 10px;
  }



@media (max-width: 1024px) {
    .container {
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    .logo-placeholder {
        width: 100px;
        height: 100px;
    }
}


@media (max-width: 425px) {
    .logo-placeholder {
        width: 70px;
        height: 70px;
    }
    .experience-missions,
    .experience-skills {
        min-width:fit-content;
        width: 100%;
    }
}
