main section {
    margin-top: 20px;
    width: 100%;

}

.wrapper {
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--color-gradient);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Le lien circulaire avec l'icône */
.arrow-link {
    position: absolute;
    bottom: 20px;  /* ajustez selon le design */
    right: 20px;
    width: 30px;   /* taille du cercle */
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--color-meta-text);
    font-size: .9rem;
    color: var(--color-meta-text);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    z-index: 100px;
  }
  
  /* Effet hover */
  .arrow-link:hover {
    background-color: var(--color-primary);
    color: var(--color-off-white);
    border-color: var(--color-primary);
  }

.item__profil { /* 1 */
    grid-row: 1 / 5;
    grid-column: 1 / 3;
}

.item__quote { /* 2 */
    grid-row: 1 / 1;
    grid-column: 3 / -1;
}

.item__box-1 { /* 3 */
    grid-row: 2 / 5;
    grid-column: 3 / 4;
}

.item__box-2 { /* 4 */
    grid-row: 2 / 5;
    grid-column: 4 / 4;
}

.item__box-3 { /* 5 */
    grid-row: 5 / 8;
    grid-column: 1 / 2;
}

.item__skills { /* 6 */
    grid-row: 5 / 8;
    grid-column: 2 / 4;
}

.item__something { /* 7 */
    grid-row: 5 / 8;
    grid-column: 4 / 5;
}

.item__long-box-1 { /* 8 */
    grid-row: 8 / -1;
    grid-column: 1 / 3;
}

.item__long-box-2 { /* 9 */
    grid-row: 8 / -1;
    grid-column: 3 / -1;
}

/* Conteneur interne pour séparer l'image et la description */
.profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
  }
  
  /* Zone image, ratio 1:1 */
  .profil__image {
    height: 100%;            
    aspect-ratio: 1 / 1;     
    overflow: hidden;     
    border-radius: 50px 5px 50px 5px;   
    flex-shrink: 0;        
  }
  
  .profil__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
  }
  
  /* Zone description */
  .profil__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .name {
    line-height: 1;
    font-size: 2.5rem;
    /* Couleur, font-weight, etc. */
  }
  
 .meta-description {
    color: var(--color-meta-text);
    font-size: .9rem;
    line-height: 1.2;
  }

  

/* Citation Item */
  .item__quote .grid-item {
    padding: 0;
  }

  .item__quote .grid-item p {
    /* font-size: 1.2rem; */
    font-style: italic;
    color: var(--color-off-white);
    margin: 0;
    text-align: center;
  }
  
  /* Pour distinguer l'auteur, si vous le souhaitez */
  .item__quote .author {
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
    font-style: normal; /* Retire l’italique si vous voulez mettre l’auteur en normal */
    color: var(--color-meta-text);
  }

  .item__box-1 .grid-item {
    background-image: url(../../assets/images/Katana2.jpg);
    background-size: cover;
    background-position: center;
  } 

  .item__box-1 .grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
  }

  .CV-cta i {
    margin-right: 10px;
  }

  .CV-cta {
    position: absolute;
    text-transform: none;
    width: 170px;
    top: 75%;  /* ajustez selon le design */
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    transform: translate(-50%, -50%);
    z-index: 100px;
  }


  .socials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; Espace entre les icônes */
    /* justify-content: center; 
    align-items: center; */
    align-items: flex-start;
    margin-bottom: 1rem; /* Espace sous les icônes */
  }

  .socials__container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
  }
  
  .social-link {
    color: var(--color-off-white);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-grey-hover);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-link:hover {
    color: var(--color-primary);
  }

  .subtitle {
    font-weight: 700;
    font-size: 1.1rem;
  }

  /* Dipplôme */
  /* Conteneur interne pour l’icône et les textes */
.simple__icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: flex-end;
  }
  
  /* Icône FontAwesome */
  .simple__icon-container i {
    font-size: 5rem;         /* Taille de l'icône */
    color: var(--icon-color);
    align-self: center;
  }
  
  /* Texte (Bac+2, Diplôme) */

  .description__container {
    margin-top: auto;
  }

  /* portfolio */
  .item__skills .grid-item {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .skills__container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill__container .fa-regular,
  .skill__container .material-symbols-outlined {
    font-size: 3rem;
    color: var(--color-meta-text);
  }

  .skill__container .meta-description {
    margin-top: 10px;
  }

  .item__skills .grid-item .subtitle {
    margin-top: auto;
    font-size: 2.5rem;
    line-height: 1;
  }

  .languages {
    /* Mise en page flexible ; ajustez selon vos besoins */
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  /* Bloc de chaque anneau de progression */
  .progress-circle {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Vous pouvez ajouter d’autres styles ou marges si nécessaire */
  }
  
  /* Le SVG est tourné pour que le "0%" commence en haut */
  .progress-circle svg {
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
  }
  
  /* Le cercle d’arrière-plan */
  .bg {
    fill: none;
    stroke: var(--color-meta-text);
    stroke-width: 10;
  }
  
  /* Le cercle de "progression" : on part d’un offset maximum = anneau vide */
  .progress {
    fill: none;
    stroke: var(--color-primary);       /* Couleur de base */
    stroke-width: 10;
    stroke-dasharray: 314; /* ~ circonférence pour r=50 */
    stroke-dashoffset: 314;
    stroke-linecap: round;
    /* Animation de la propriété dashoffset en 1.5s */
    transition: stroke-dashoffset 1.5s ease-out;
    /* 
      Pas de transition-delay ici, 
      on le gérera via .delay-xxx.in-view .progress plus bas
    */
  }
  
  /* Le label au centre */
  .progress-circle .label {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
  }

  .progress-circle .label p {
    font-size: 1.5rem;
  }

  .progress-circle .label p span {
    font-size: 1rem;
  }

  .progress-circle .language {
    color: var(--color-meta-text);
  }

  /* .delay-200 => démarrage 0.2s après l’ajout de .in-view */
  .delay-200.in-view .progress {
    transition-delay: 0.2s;
  }
  
  /* .delay-800 => démarrage 0.8s après l’ajout de .in-view */
  .delay-600.in-view .progress {
    transition-delay: .6s;
  }
  
  /* .delay-1200 => démarrage 1.2s après l’ajout de .in-view */
  .delay-1000.in-view .progress {
    transition-delay: 1s;
  }

  /* Français 100% */
.circle-fr.in-view .progress {
    stroke-dashoffset: 0;
  }
  
  /* Anglais 80% */
  .circle-en.in-view .progress {
    stroke-dashoffset: 62.8;
  }
  
  /* Espagnol 25% */
  .circle-es.in-view .progress {
    stroke-dashoffset: 235.5;
  }

  
  .contact-cta {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
  }
  
  /* Titre */
  .contact-cta h3 {
    font-size: 2.5rem;
    margin: 0;
  }

  .primary {
    color: var(--color-primary);
  }

@media (max-width:1024px) {
  .wrapper {
    /* 13 lignes, 3 colonnes */
    grid-template-rows: repeat(13, 70px);
    grid-template-columns: repeat(3, 1fr);
  }

  .item__profil {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
  }
  .item__box-2 {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
  }
  .item__quote {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }
  .item__something {
    grid-row: 5 / 8;
    grid-column: 1 / 2;
  }
  .item__skills {
    grid-row: 5 / 8;
    grid-column: 2 / 4;
  }
  .item__long-box-1 {
    grid-row: 8 / 11;
    grid-column: 1 / 3;
  }
  .item__box-1 {
    grid-row: 8 / 11;
    grid-column: 3 / 4;
  }
  .item__box-3 {
    grid-row: 11 / 14;
    grid-column: 1 / 2;
  }
  .item__long-box-2 {
    grid-row: 11 / 14;
    grid-column: 2 / 4;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-rows: repeat(19, 70px);
    grid-template-columns: repeat(2, 1fr);
  }

  .item__profil {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
  }

  .item__quote {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
  }

  .item__box-2 {
    grid-row: 14 / 17;
    grid-column: 2 / 3;
  }
  
  .item__box-3 {
    grid-row: 5 / 8;
    grid-column: 2 / 3;
  }

  .item__skills {
    grid-row: 8 / 11;   
    grid-column: 1 / 3;
  }

  .item__long-box-1 {
    grid-row: 11 / 14;  
    grid-column: 1 / 3; 
  }

  .item__box-1 {
    grid-row: 14 / 17;
    grid-column: 1 / 2;
  }

  .item__something {
    grid-row: 5 / 8;
    grid-column: 1 / 2;
  }

  .item__long-box-2 {
    grid-row: 17 / 20;
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 525px) {
  .languages,
  .profil {
    flex-direction: column;
  }

  .profil__image {
    flex: 1;
  }

  .profil__desc {
    height: fit-content;
  }

  .profil__desc .appearance-container .meta-description {
    max-width: 230px;
    margin-bottom: 5px;
  }

  .profil__image {
    height: auto;
    width: 80%;
  }

  .simple__icon-container i {
    font-size: 7rem;
  }

  .progress-circle .label {
    top: 42%;
  }

  .wrapper {
    grid-template-rows: repeat(31, 70px);
    grid-template-columns: repeat(1, 1fr);

  }

  /* 1 = .item__profil => (1/6/1/1) */
  .item__profil {
    grid-row: 1 / 7;
    grid-column: 1 / 2;
  }

  /* 2 = .item__quote => (7/1/1/1) */
  .item__quote {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
  }

  /* 5 = .item__box-3 => (8/3/1/1) */
  .item__something {
    grid-row: 8 / 11;
    grid-column: 1 / 2;
  }

  /* 8 = .item__long-box-1 => (11/9/1/1) */
  .item__skills {
    grid-row: 11 / 14;
    grid-column: 1 / 2;
  }
  
  .item__long-box-1 {
    grid-row: 14 / 20;
    grid-column: 1 / 2;
  }

  /* 3 = .item__box-1 => (23/3/1/1) */
  .item__box-1 {
    grid-row: 20 / 23;
    grid-column: 1 / 2;
  }

  /* 7 = .item__something => (26/3/1/1) */
  .item__box-3 {
    grid-row: 23 / 26;
    grid-column: 1 / 2;
  }

  /* 4 = .item__box-2 => (29/3/1/1) */
  .item__box-2 {
    grid-row: 26 / 29;
    grid-column: 1 / 2;
  }

  /* 9 = .item__long-box-2 => (32/3/1/1) */
  .item__long-box-2 {
    grid-row: 29 / 32;
    grid-column: 1 / 2;
  }
}


@media (max-width: 425px) {

  .wrapper {
    grid-template-rows: repeat(30, 70px);
  }

  /* 1 = .item__profil => maintenant 1 / 6 (au lieu de 1 / 7) */
  .item__profil {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
  }

  /* 2 = .item__quote => démarre juste après .item__profil */
  .item__quote {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
  }

  /* 5 = .item__box-3 => occupe 3 lignes */
  .item__something {
    grid-row: 7 / 10;
    grid-column: 1 / 2;
  }

  .item__skills {
    grid-row: 10 / 13;
    grid-column: 1 / 2;
  }
  
  .item__box-3 {
    grid-row: 13 / 16;
    grid-column: 1 / 2;
  }
  
  /* 3 = .item__box-1 => occupe toujours 3 lignes */
  .item__box-1 {
    grid-row: 16 / 19;
    grid-column: 1 / 2;
  }
  
  /* 8 = .item__long-box-1 (nouvelle position, 6 lignes) */
  .item__long-box-1 {
    grid-row: 19 / 25;
    grid-column: 1 / 2;
  }

  /* 4 = .item__box-2 => occupe 3 lignes */
  .item__box-2 {
    grid-row: 25 / 28;
    grid-column: 1 / 2;
  }

  /* 9 = .item__long-box-2 => occupe 3 lignes */
  .item__long-box-2 {
    grid-row: 28 / 31;
    grid-column: 1 / 2;
  }
}

@media (max-width: 375px) {
  
  .wrapper {
    grid-template-rows: repeat(32, 70px);
  }

  .skills__container {
    flex-direction: column;
    gap: 20px;
  }

  .item__something {
    grid-row: 7 / 10; /* 3 lignes, prend la place de .item__skills */
    grid-column: 1 / 2;
  }
  
  .item__skills {
    grid-row: 10 / 15; /* 5 lignes, prend la place de .item__something */
    grid-column: 1 / 2;
  }
  
  .item__box-3 {
    grid-row: 15 / 18; /* 3 lignes */
    grid-column: 1 / 2;
  }
  
  .item__box-1 {
    grid-row: 18 / 21; /* 3 lignes */
    grid-column: 1 / 2;
  }
  
  .item__long-box-1 {
    grid-row: 21 / 27; /* 6 lignes */
    grid-column: 1 / 2;
  }
  
  .item__box-2 {
    grid-row: 27 / 30; /* 3 lignes */
    grid-column: 1 / 2;
  }
  
  .item__long-box-2 {
    grid-row: 30 / 33; /* 3 lignes */
    grid-column: 1 / 2;
  }
}

